html {
  font-size: 18px;
  font-family: helvetica;
}

.header {
  width: 100%;

}
.header h1 {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 3rem;
  color: #1F5678;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  height: 15rem;
  line-height: 27rem;
  background-color: rgba(25, 195, 187, 0.3);
  background-image: url("http://images.all-free-download.com/images/graphicthumb/stethoscope_and_heartshaped_picture_165354.jpg");
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #1F5678;

}
nav ul li {
  display: inline-flex;
  margin: 0.5rem 2rem;
  font-size: 1.8rem;
  background-color: rgba(25, 195, 187, 0.5);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-family: helvetica;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: #1F5678;
}

nav ul li:hover {
  background-color: white;
}

.container {
  margin: 2% 10%;
}

.welcome {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.para {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


@media only screen and (max-width: 1024px){
  nav ul li {
    margin: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  .header h1 {
    display: flex;
    font-size: 170%;
  }

}

@media only screen and (max-width: 800px){
  nav ul li {
    margin: 0.5rem 0.3rem;
    font-size: 1.0rem;
  }
  .header h1 {
    font-size: 140%;
  }
}



/* 235 edits */
#ans235 {
  margin: 2% 10%;
  font-size: 1.3rem;
}

#ans237 {
  margin: 2% 10%;
  font-size: 1.3rem;
}

#ans235 h3 {
  font-weight: bold;
}

#ans237 h3 {
  font-weight: bold;
}

#ans235 ul li {
  margin-bottom: 1rem;
}


#ans237 ul li {
  margin-bottom: 1rem;
}

.container ul {
  font-size: 1.3rem;
}

.container ul li {
  margin-bottom: 1rem;
}

#downloadable235 {
   margin: 5% 10%;
}
#downloadable235 a {
  font-size: 2rem;
}


#downloadable237 {
   margin: 5% 10%;
}
#downloadable237 a {
  font-size: 2rem;
}

#downloadable233 {
   margin: 5% 10%;
}
#downloadable233 a {
  font-size: 2rem;
}


img {
   height: 1000px;
   width: 95%;
  }

.container a {
  font-size: 1.5rem;
}
